<template id="dbuggr-button">
    <style>
    .container {
        width: 120px;
        height: 120px;
        padding: 5px;
        border-radius: 5px;
        background-color: rgb(238, 238, 238);
    }
    </style>
    <div class="container">
        <button>Click Me!<content></content></button>
    </div>
</template>

<script>
    var ownerDocument = (document._currentScript || document.currentScript).ownerDocument;
    var template = ownerDocument.querySelector('#dbuggr-button');
    (function() {
        console.log(template);
        var multiselectPrototype = Object.create(HTMLElement.prototype, {

            attachedCallback: function() {
                //console.log('an instance was inserted into the document');
            },
            detachedCallback: function() {
                //console.log('an instance was removed from the document');
            },
            attributeChangedCallback: function(attrName, oldVal, newVal) {
                //console.log('an attribute was added, removed, or updated');
            }
        });
        multiselectPrototype.createdCallback = function() {
            console.log('instance of the element is created');
            this.init();
            this._button.addEventListener('click', function(e) {
                alert('Thanks!');
            });
            this.render();
        };

        multiselectPrototype.init = function() {
            this.initOptions();
            this._root = this.createRootElement();
            this._button = this._root.querySelector('button');

            this._popup = this._root.querySelector('.multiselect-popup');
            this._list = this._root.querySelector('.multiselect-list');
        };
        multiselectPrototype.initOptions = function() {
            this._options = {
                placeholder: this.getAttribute("placeholder") || 'Select'
            };
        };
        multiselectPrototype.createRootElement = function() {
            var root = this.createShadowRoot();
            var content = document.importNode(template.content, true);
            root.appendChild(content);
            return root;
        };
        multiselectPrototype.render = function() {
            this.attachHandlers();
            this.refreshField();
        };
        multiselectPrototype.attachHandlers = function() {
            this._field.addEventListener('click', this.fieldClickHandler.bind(this));
            this._list.addEventListener('click', this.listClickHandler.bind(this));
        };
        multiselectPrototype.fieldClickHandler = function() {
            this.togglePopup();
        };
        multiselectPrototype.listClickHandler = function(event) {
            var item = event.target;
            while(item && item.tagName !== 'LI') {
                item = item.parentNode;
            }
            if(!item.hasAttribute('selected')) {
                item.setAttribute('selected', 'selected');
                this.fireChangeEvent();
                this.refreshField();
            }
            this.togglePopup(false);
        };
        multiselectPrototype.fireChangeEvent = function() {
            var event = new CustomEvent("change");
            this.dispatchEvent(event);
        };
        multiselectPrototype.togglePopup = function(show) {
            show = (show !== undefined) ? show : !this._isOpened;
            this._isOpened = show;
            this._popup.style.display = this._isOpened ? 'block' : 'none';
        };
        multiselectPrototype.refreshField = function() {
            this._field.innerHTML = '';
            var selectedItems = this.querySelectorAll('li[selected]');
            if(!selectedItems.length) {
                this._field.appendChild(this.createPlaceholder());
                return;
            }
            for(var i = 0; i < selectedItems.length; i++) {
                this._field.appendChild(this.createTag(selectedItems[i]));
            }
        };
        multiselectPrototype.createPlaceholder = function() {
            var placeholder = document.createElement('div');
            placeholder.className = 'multiselect-field-placeholder';
            placeholder.textContent = this._options.placeholder;
            return placeholder;
        };
        multiselectPrototype.createTag = function(item) {
            var tag = document.createElement('div');
            tag.className = 'multiselect-tag';
            var content = document.createElement('div');
            content.className = 'multiselect-tag-text';
            content.textContent = item.textContent;
            var removeButton = document.createElement('div');
            removeButton.className = 'multiselect-tag-remove-button';
            removeButton.addEventListener('click', this.removeTag.bind(this, tag, item));
            tag.appendChild(content);
            tag.appendChild(removeButton);
            return tag;
        };
        multiselectPrototype.removeTag = function(tag, item, event) {
            item.removeAttribute('selected');
            event.stopPropagation();
            this.fireChangeEvent();
            this.refreshField();
        };
        multiselectPrototype.attributeChangedCallback = function(optionName, oldValue, newValue) {
            this._options[optionName] = newValue;
            this.refreshField();
        };
        multiselectPrototype.selectedItems = function() {
            var result = [];
            var selectedItems = this.querySelectorAll('li[selected]');
            for(var i = 0; i < selectedItems.length; i++) {
                var selectedItem = selectedItems[i];
                result.push(selectedItem.hasAttribute('value')
                        ? selectedItem.getAttribute('value')
                        : selectedItem.textContent);
            }
            return result;
        };

        //var template = document.currentScript.ownerDocument.querySelector('#dbuggr-button');
        //var clone = document.importNode(template.content, true);

        //System.import('../src/client/morphic/component-loader.js').then(loader => { loader.register('lively-menu', clone); });

        var elem = document.registerElement('dbuggr-button', {
            prototype: multiselectPrototype
        });
        document.body.appendChild(new elem());

        var dbuggrButton = document.createElement('dbuggr-button');
        document.body.appendChild(dbuggrButton);
        dbuggrButton.addEventListener('click', () => alert('WUHUUUUU'));
    }());
</script>
